<div class='flex items-center justify-center h-screen'>
  <div class='w-full md:w-[40%] md:rounded-lg md:shadow-lg bg-white p-20 text-gray-800'>
    <h2 class='text-center text-lg font-semibold mb-12'>Sign up</h2>
  
    <div class='w-full flex-wrap whitespace-nowrap'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "admins/shared/error_messages", resource: resource %>
        <div class="mb-2">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full ring ring-gray-300 rounded mb-2 p-1' %>
        </div>
        <div class="mb-2">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'w-full ring ring-gray-300 rounded mb-2 p-1' %>
        </div>
        <div class="mb-2">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full ring ring-gray-300 rounded mb-2 p-1' %>
        </div>
        <div class="text-center mt-8">
          <%= f.submit "Sign up", class: 'w-full border border-gray-400 hover:border-gray-500 px-4 py-1 rounded bg-purple-200 hover:bg-purple-300' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
