<div class='flex justify-center items-center min-h-screen bg-gray-100'>
  <div class='w-[80%] md:w-[50%] rounded-lg shadow-lg bg-white text-gray-800 p-6'>
    <div class='flex items-enter'>
      <h1 class='flex-1 text-center text-xl font-semibold mb-6'><%= t('kid.index.title') %></h1>
      <%= link_to "+", new_users_kid_path, class: 'h-7 px-2 rounded bg-gray-500 text-white hover:bg-gray-600' %>
    </div>
  
    <% if @kids.present? %>
      <table class='table-auto w-full border-collapse border border-gray-300 text-center'>
        <caption class='caption-top pb-1 text-sm text-gray-600'>
          * <%= t('kid.index.name_click_to_edit_kid') %>
        </caption>
        <thead class="bg-gray-200">
          <tr>
            <th class='border border-gray-300 px-4 py-2'><%= t('kid.index.name') %></th>
            <th class='border border-gray-300 px-4 py-2'><%= t('kid.index.stock_count') %></th>
            <th class='border border-gray-300 px-4 py-2'><%= t('kid.index.action') %></th>
          </tr>
        </thead>
        <tbody>
          <% @kids.each do |kid| %>
            <tr class='hover:bg-gray-100'>
              <td class='border border-gray-300 px-4 py-2 whitespace-nowrap'>
                  <div class='flex items-center space-x-1'>

                    <% case kid.color %>
                    <% when 'pink' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-pink-600">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% when 'blue' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-blue-600">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% when 'green' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-green-600">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% when 'purple' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-purple-600">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% when 'orange' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-orange-600">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% when 'black' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-black">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% when 'default' %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 fill-gray-400">
                        <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                      </svg>
                    <% end %>

                    <% if kid.gender == "male" %>
                      <span class='text-blue-500'><%= link_to kid.name, edit_users_kid_path(kid) %></span>
                                      <% elsif kid.gender == "female" %>
                      <span class='text-pink-500'><%= link_to kid.name, edit_users_kid_path(kid) %></span>
                                      <% else %>
                      <span class='text-gray-500'><%= link_to kid.name, edit_users_kid_path(kid) %></span>
                    <% end %>
                  </div>
              </td>
              <td class='border border-gray-300 px-4 py-2 whitespace-nowrap'>
                <div class='flex items-center'>
                  <!-- ストック数を中央よせ -->
                  <span class='flex-1 text-center'><%= "#{kid.clothes_stocks.count}個" %></span>
                  <!-- ボタンは右端 -->
                  <%= link_to "+", new_users_kid_clothes_stock_path(kid), class: 'h-7 px-2 rounded bg-orange-500 text-white hover:bg-orange-600' %>
                </div>
              </td>
              <td class='border border-gray-300 px-4 py-2'>
                <div class='flex justify-center space-x-2 whitespace-nowrap'>
                  <%= link_to t('kid.index.stocks_all'), users_kid_clothes_stocks_path(kid), class: 'px-3 py-1 rounded bg-green-500 text-white hover:bg-green-600' %>
                  <%= link_to t('defaults.delete'), users_kid_path(kid), data: { turbo_method: :delete, turbo_confirm: t('defaults.confirm_delete')}, class: 'px-3 py-1 rounded bg-red-500 text-white hover:bg-red-600' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center text-gray-500 mt-6"><%= t('kid.index.no_kids') %></p>
    <% end %>
  </div>
</div>
