<div class='flex items-center justify-center h-screen md:bg-gray-100'>
  <div class='w-full md:w-[40%] md:rounded-lg md:shadow-lg bg-white p-20 text-gray-800'>
    <h1 class='text-center text-2xl font-semibold mb-12'><%= t('kid.index.title') %></h1>
  
    <div class=''>
      <% if @kids.present? %>
        <% @kids.each do |kid| %>
          <div class='flex justify-center space-x-4'>
            <p><%= kid.name %></p>
            <p>
              <% if kid.gender == "male" %>
                <div class='text-blue-500'><%= kid.gender%></div>
              <% elsif kid.gender == "female" %>
                <div class='text-pink-500'><%= kid.gender%></div>
              <% else %>
                <div class='text-gray-500'><%= kid.gender%></div>
              <% end %>
            </p>
          </div>
        <% end %>
      <% else %>
        <%= t('kid.index.no_kids') %>
      <% end %>
    </div>
  </div>
</div>