<div>
  <h1>子供の登録</h1>
  
  <%= form_with model: @kid do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div>
      <%= f.select :gender, [["男性", "男性"],["女性", "女性"]], include_blank: "選択してください" %>
    </div>
  
    <%= f.submit nil %>
  <% end %>
</div>