<div class='flex m-20 justify-center h-screen'>
  <div class='w-full h-[60%] md:w-1/2 md:rounded-lg md:shadow-lg bg-white p-20 text-gray-800'>
    <h2 class='text-center text-lg font-semibold mb-6'><%= t('kid.select_edit_kid.title') %></h2>
    <hr>
    
  
    <div class='flex flex-col mt-6'>
      <% if @kids.present? %>
        <% @kids.each do |kid| %>
          <% if kid.gender == "male" %>
            <span class='text-blue-500'><%= link_to kid.name, edit_kid_path(kid) %></span>
          <% elsif kid.gender == "female" %>
            <span class='text-pink-500'><%= link_to kid.name, edit_kid_path(kid) %></span>
          <% else %>
            <span class='text-gray-500'><%= link_to kid.name, edit_kid_path(kid) %></span>
          <% end %>
        <% end %>
      <% else %>
        <%= t('kid.index.no_kids') %>
      <% end %>
    </div>
  </div>
</div>