<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-[95%] md:w-[70%] rounded-lg shadow-lg bg-white text-gray-800 p-6">
    <div class='flex justify-center items-start'>
      <h1 class="flex-1 text-center text-xl font-bold mb-8"><%= t('clothes_stock.index.title', items: @kid.name) %></h1>
        <div class='dropdown-container relative inline-block ml-auto'>
          <button class="inline-flex items-center justify-center gap-x-1.5 rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 border border-gray-400 rounded-md p-0.5">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
            </svg>
          </button>
          <ul class="dropdown-menu absolute right-0 w-80 md:w-120 origin-top-right rounded-md ring-1 ring-white/10" style= 'display: none;'>
            <%= render 'users/search', q: @q, url: users_kid_clothes_stocks_path %>
          </ul>
        </div>
    </div>

    <% if @clothes_stocks.present? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 pb-4">
        <% @clothes_stocks.each do |clothes_stock| %>
          <div class="bg-white rounded-xl shadow-md hover:shadow-lg transition p-4 flex flex-col items-center">

            <div class='flex justify-between w-full'>
              <div class="text-center space-y-1 flex-1">
                <div class='flex items-center space-x-2 justify-center'>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 <%= @kid.color == "default" ? "fill-gray-400" : "fill-#{@kid.color}-600" %>">
                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd" />
                  </svg>
                  <p class="text-sm text-gray-500">
                    <%= link_to "ID: #{clothes_stock.id}", users_clothes_stock_path(clothes_stock), class: "text-blue-600 hover:underline" %>
                  </p>
                </div>
                <p class="text-sm text-gray-700"><%= clothes_stock.season.name %></p>
                <p class="text-sm text-gray-700"><%= clothes_stock.category.name %></p>
                <p class="text-sm text-gray-700"><%= clothes_stock.size.name %></p>
                <p class="text-xs text-gray-500 mt-2"><%= clothes_stock.comment %></p>
              </div>

              <div class='flex-shrink-0'>
                <%= link_to users_clothes_stock_path(clothes_stock) do %>
                  <%= image_tag clothes_stock.image.url, class: "w-32 h-32 object-cover rounded-lg mb-4" %>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
      <span class='text-center text-red-800'><%= paginate @clothes_stocks %></span>
    <% else %>
      <p class="text-center text-gray-500 mt-6"><%= t('kid.message.no_clothes_stocks') %></p>
    <% end %>
  </div>
</div>
