<div class='flex items-center justify-center min-h-screen'>
  <% if @clothes_stock.present? %>

    <div class='flex flex-col rounded shadow-lg p-16'>
      <div class='flex'>
        <div class='flex flex-col text-center'>
          <span class='flex flex-col mb-2'>
            <label for="", class='border rounded px-2 bg-gray-400 text-white text-center'>
              <%= t('clothes_stock.show.season') %>
            </label>
            <%= @clothes_stock.season.name %>
          </span>
          <span class='flex flex-col mb-2'>
            <label for="", class='border rounded px-2 bg-gray-400 text-white text-center'>
              <%= t('clothes_stock.show.category') %>
            </label>
            <%= @clothes_stock.category.name %>
          </span>
          <span class='flex flex-col mb-2'>
            <label for="", class='border rounded px-2 bg-gray-400 text-white text-center'>
              <%= t('clothes_stock.show.comment') %>
            </label>
            <% if @clothes_stock.comment.present?%>
              <%= simple_format(@clothes_stock.comment) %>
            <% else %>
              -
            <% end %>
          </span>
          <span class='flex flex-col mb-2'>
            <label for="", class='border rounded px-2 bg-gray-400 text-white text-center'>
              <%= t('clothes_stock.show.created_at') %>
            </label>
            <%= l @clothes_stock.created_at, format: :default %>
          </span>
          <span class='flex flex-col mb-2'>
            <label for="", class='border rounded px-2 bg-gray-400 text-white text-center'>
              <%= t('clothes_stock.show.updated_at') %>
            </label>
            <%= l @clothes_stock.updated_at, format: :default %>
          </span>
        </div>
        <div class='ml-8'>
          <%= image_tag @clothes_stock.image.url, class: 'block w-70 h-70 border border-gray-300' %>
        </div>
      </div>

      <div class="flex mt-8 items-center justify-between">
        <!-- 左端にID -->
        <p class="px-3 py-0.5 border rounded-lg border-gray-500 bg-gray-500 text-white">
          ID: <%= @clothes_stock.id %>
        </p>

        <!-- 右端にボタン -->
        <div class="flex space-x-2">
          <%= link_to t('defaults.edit'), edit_users_clothes_stock_path(@clothes_stock),
                      class: 'rounded-md bg-green-500 hover:bg-green-600 text-white px-4 py-1 font-semibold shadow' %>
          <%= link_to t('defaults.delete'), users_clothes_stock_path(@clothes_stock),
                      data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' },
                      class: 'rounded-md bg-red-500 hover:bg-red-600 text-white px-4 py-1 font-semibold shadow' %>
        </div>
      </div>
    </div>
  <% end %>
</div>