<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class='fixed w-full md:bg-purple-100'>
    <header class='sticky top-0'>
      <% if admin_signed_in? %>
        <%= render 'admins/headers/signed_in' %>
      <% else %>
        <%= render 'admins/headers/not_signed_in'  %>
      <% end %>
    </header>

    <%= render 'admins/sidebar' %>

    <!-- flashメッセージ表示(Deviseのファイル使用) -->
    <div class='w-full ms-auto'> <!-- ms-autoで要素右に寄せる -->
      <% flash.each do |key, message| %>
        <div class="text-center md:text-left p-4 rounded-lg <%= key == "alert" ? "bg-red-100 text-red-700" : "bg-green-100 text-green-700" %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
