<div class="flex justify-center items-start min-h-screen bg-gray-100 py-12 px-4">
  <div class="w-full max-w-lg rounded-xl shadow-lg bg-white p-8 text-gray-800">
    <h2 class="text-center text-xl font-bold mb-8">
      <%= t('devise.passwords.new.title') %>
    </h2>
  
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
  
      <div class="mb-6">
        <%= f.label :email, t('devise.passwords.new.registered_email') %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full ring rounded ring-gray-300 mb-2 p-1' %>
      </div>
  
      <div class="mt-8">
        <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'w-full border border-slate-500 hover:border-gray-500 px-4 py-1 rounded bg-blue-500 hover:bg-blue-600 text-white' %>
      </div>
    <% end %>
  </div>
</div>
